<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Recetas • MrChef</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/recetas.css">
</head>

<body>
    <div class="container-md">
        <!-- Titulo -->
        <div id="contenedorTitulo" class="row mt-3">
            <div id="titulo" class="col">
                <h1>Mr.Chef</h1>
            </div>
        </div>

        <!-- Receta 1 -->
        <div id="Receta" class="row mt-3">
            
            <!-- Contenido -->
            <div class="col-lg-12">
                <!-- Titulo Receta -->
                <div id="titulo_receta" class="row mt-2">
                    <div class="col-12">
                        <h2>Pasta al Pesto Cremoso</h2>
                    </div>
                </div>

                <!-- Descripcion -->
                <div id="descripcion_receta" class="row mt-2">
                    <div class="col-12">
                        <p>Esta receta combina la frescura de la albahaca con la cremosidad de la salsa, logrando un plato equilibrado y lleno de sabor.
                            El pesto casero aporta un toque aromático y ligeramente tostado gracias a los piñones o nueces, 
                            mientras que la crema de leche suaviza la intensidad del ajo y el queso parmesano. 
                            Es una opción ideal para una comida rápida pero sofisticada, 
                            perfecta para sorprender a tus invitados o disfrutar en cualquier ocasión.
                        </p>
                    </div>
                </div>

                <!-- Boton -->
                <div id="boton_receta" class="row mt-2">
                    <div class="col-md-6">
                        <a id="boton" type="button" class="btn btn-primary" href="/recetas/detalles">Ver Mas</a>
                    </div>
                </div>
                
            </div>
        </div>

        <hr class="mt-5" style="border: 1px solid black;">

        <!-- Receta 2 -->
        <div id="Receta" class="row mt-3">
            
            <!-- Contenido -->
            <div class="col-lg-12">
                <!-- Titulo Receta -->
                <div id="titulo_receta" class="row mt-2">
                    <div class="col-12">
                        <h2>Pollo a la Mostaza y Miel</h2>
                    </div>
                </div>

                <!-- Descripcion -->
                <div id="descripcion_receta" class="row mt-2">
                    <div class="col-12">
                        <p>Este pollo a la mostaza y miel es una combinación perfecta de sabores dulces y salados, con una textura jugosa y una salsa cremosa irresistible.
                            Es una receta sencilla, ideal para una cena rápida pero sofisticada, perfecta para acompañar con arroz, puré de papas o una ensalada fresca.</p>
                    </div>
                </div>

                <!-- Boton -->
                <div id="boton_receta" class="row mt-2">
                    <div class="col-md-6">
                        <a id="boton" type="button" class="btn btn-primary" href="">Ver Mas</a>
                    </div>
                </div>
                
            </div>
        </div>

        <hr class="mt-5" style="border: 1px solid black;">

        <!-- Receta 3 -->
        <div id="Receta" class="row mt-3">
            
            <!-- Contenido -->
            <div class="col-lg-12">
                <!-- Titulo Receta -->
                <div id="titulo_receta" class="row mt-2">
                    <div class="col-12">
                        <h2>Salmón en Salsa de Limón y Mantequilla</h2>
                    </div>
                </div>

                <!-- Descripcion -->
                <div id="descripcion_receta" class="row mt-2">
                    <div class="col-12">
                        <p>Este salmón en salsa de limón y mantequilla es una receta simple pero llena de sabor, perfecta para una comida ligera y elegante.
                            La combinación del jugo de limón con la mantequilla crea una salsa suave y aromática que realza la jugosidad del salmón,
                            haciendo de este plato una opción deliciosa y fácil de preparar.</p>
                    </div>
                </div>

                <!-- Boton -->
                <div id="boton_receta" class="row mt-2">
                    <div class="col-md-6">
                        <a id="boton" type="button" class="btn btn-primary" href="">Ver Mas</a>
                    </div>
                </div>
                
            </div>
        </div>

        <hr class="mt-5" style="border: 1px solid black;">

        <!-- Receta 4 -->
        <div id="Receta" class="row mt-3">
            
            <!-- Contenido -->
            <div class="col-lg-12">
                <!-- Titulo Receta -->
                <div id="titulo_receta" class="row mt-2">
                    <div class="col-12">
                        <h2>Tacos de Carne Asada</h2>
                    </div>
                </div>

                <!-- Descripcion -->
                <div id="descripcion_receta" class="row mt-2">
                    <div class="col-12">
                        <p>Los tacos de carne asada son un platillo clásico de la cocina mexicana, llenos de sabor y frescura.
                            La carne marinada en jugo de limón, ajo y especias se cocina a la parrilla, obteniendo una textura jugosa y sabrosa, 
                            perfecta para rellenar tortillas y acompañar con cebolla, cilantro y salsa. ¡Ideal para una comida en familia o con amigos!
                        </p>
                    </div>
                </div>

                <!-- Boton -->
                <div id="boton_receta" class="row mt-2">
                    <div class="col-md-6">
                        <a id="boton" type="button" class="btn btn-primary" href="">Ver Mas</a>
                    </div>
                </div>
                
            </div>
        </div>

        <hr class="mt-5" style="border: 1px solid black;">

        <!-- Receta 5 -->
        <div id="Receta" class="row mt-3">
            
            <!-- Contenido -->
            <div class="col-lg-12">
                <!-- Titulo Receta -->
                <div id="titulo_receta" class="row mt-2">
                    <div class="col-12">
                        <h2>Risotto de Champiñones</h2>
                    </div>
                </div>

                <!-- Descripcion -->
                <div id="descripcion_receta" class="row mt-2">
                    <div class="col-12">
                        <p>Este risotto de champiñones es un plato cremoso y reconfortante, lleno de sabor umami gracias a los champiñones
                            y el queso parmesano. La textura suave del arroz se combina perfectamente con la profundidad de los sabores, 
                            creando un plato delicioso que puede ser una comida principal o acompañar carnes a la perfección. 
                            Ideal para los amantes de la cocina italiana.
                       </p>
                    </div>
                </div>

                <!-- Boton -->
                <div id="boton_receta" class="row mt-2">
                    <div class="col-md-6">
                        <a id="boton" type="button" class="btn btn-primary" href="">Ver Mas</a>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</body>

</html>